%h1 Community contacts

%p
  For more information, if you&rsquo;d like to help out or to tell us about an
  event you&rsquo;re running, contact one of these people:

%dl.contacts
  %dt Kerry Buckley
  %dd
    .mail
      %a{href: "mailto:kerry.buckley@bt.com"}
        %i.fi-mail
        kerry.buckley@bt.com
    .twitter
      %a{href: "https://twitter.com/kerryb"}
        %i.fi-social-twitter
        @kerryb
  %dt Neil Winton
  %dd
    .mail
      %a{href: "mailto:neil.winton@bt.com"}
        %i.fi-mail
        neil.winton@bt.com
    .twitter
      %a{href: "https://twitter.com/neilb"}
        %i.fi-social-twitter
        @ndwinton
  %dt Anna Kennedy
  %dd
    .mail
      %a{href: "mailto:anna.kennedy@bt.com"}
        %i.fi-mail
        anna.kennedy@bt.com
    .twitter
      %a{href: "https://twitter.com/yedennek"}
        %i.fi-social-twitter
        @yedennek
  %dt Paul Moser
  %dd
    .mail
      %a{href: "mailto:paul.moser@bt.com"}
        %i.fi-mail
        paul.moser@bt.com
    .twitter
      %a{href: "https://twitter.com/moserp"}
        %i.fi-social-twitter
        @moserp
  %dt Adam Whittingham
  %dd
    .mail
      %a{href: "mailto:adam.whittingham@bt.com"}
        %i.fi-mail
        adam.whittingham@bt.com
    .twitter
      %a{href: "https://twitter.com/AdamWhittingham"}
        %i.fi-social-twitter
        @AdamWhittingham
