%h1 Welcome

%p
  The Adastral Software Developer Community is an informal group of BT
  developers based at Adastral Park, Ipswich. It's run by developers for
  developers, to provide events, training and learning opportunities.
%p
  We run events such as DevCon and software masterclasses; training events
  led by other developers within the company to encourage collaborative
  learning and knowledge sharing. We also get involved with the recruitment
  of graduates and apprentices into the company and try to support them in
  their training.
%p
  A community is only as good as the members it has. If there are events
  that you want to see, if you're planning on giving a talk or starting a
  study group, or if you want to get involved in any other way, just let us
  know.
