.row
  .column.small-12.medium-6.large-8
    %h1 Welcome

    %p
      The Adastral Software Developer Community is a branch of the Software
      Engineering Professional Community based at Adastral Park, Ipswich. It's
      run by developers for developers, to provide events, training and
      learning opportunities.
    %p
      We run events such as Devcon and Software Masterclasses; training events
      led by other developers within the company to encourage collaborative
      learning and knowledge sharing. We also get involved with the recruitment
      of graduates and apprentices into the company and try to support them in
      their training.
    %p
      A community is only as good as the members it has. If there are events
      that you want to see, if you're planning on giving a talk or starting a
      study group, or if you want to get involved in any other way, just let us
      know.

  .column.small-12.medium-6.large-4
    .panel.whats-on
      %h2 What&rsquo;s on?
      .event
        .date 27 January, 2&ndash;4 pm
        .title An Emergency Guide to Linux
        .presenter Neil Winton
        .link
          %a{href: "#"} More details
      .event
        .date Tuesdays, 12.30&ndash;1.30 pm
        .title Java dojo
        .presenter Anna Kennedy &amp; Kerry Buckley
        .link
          %a{href: "#"} More details
      .event
        .date Wednesdays, 12.30&ndash;1.30 pm
        .title Ruby dojo
        .presenter Anna Kennedy &amp; Kerry Buckley
        .link
          %a{href: "#"} More details
